on:
  push:
    branches:
      - main

permissions:
  contents: write
  pull-requests: write

name: release-please

jobs:
  release-please:
    runs-on: ubuntu-latest
    steps:
      - uses: google-github-actions/release-please-action@v3
        id: release
        with:
          command: manifest

      - name: Release output
        env:
          OUTPUT: ${{ toJSON(steps.release.outputs) }}
        run: echo $OUTPUT

      # Release TypeScript package
      - uses: actions/checkout@v2
        # these if statements ensure that a publication only occurs when
        # a new release is created:
        if: ${{ steps.release.outputs['packages/typescript--release_created'] }}
