name: Test

on: [push]

jobs:
  test-node:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node: [16, 18]

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node }}

      - name: Install NPM dependencies
        run: npm i

      - name: Run TypeScript tests
        run: npm t -w packages/typescript

      - name: Run React tests
        run: |
          npm run build -w packages/typescript
          npm t -w packages/react

  test-ruby:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        # Due to https://github.com/actions/runner/issues/849, we have to use quotes for '3.0'
        ruby: [
            "2.7",
            "3.0",
            "3.1",
            "3.2",
            head,
            # jruby,
            # jruby-head,
            truffleruby,
            truffleruby-head,
          ]

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true

      - name: Install Ruby dependencies
        run: |
          cd packages/ruby
          bundle install

      - name: Run tests
        run: npm t -w packages/ruby

  test-go:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go: ["1.20.7", "1.21"]

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Go
        uses: actions/setup-go@v2
        with:
          go-version: ${{ matrix.go }}

      - name: Install Go dependencies
        run: |
          cd packages/go
          go get -v ./...

      - name: Run tests
        run: npm t -w packages/go

  test-python:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.7", "3.8", "3.9", "3.10", "3.11"]

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install Python dependencies
        run: |
          cd packages/typescript
          pip install .

      - name: Run tests
        run: npm t -w packages/python
